.wrapper {
  button {
    background-color: var(--palatinate-blue);
    height: 51px;
    color: white;
    padding-inline: 40px;
    border: 1px solid white;

    &:hover {
      outline: 2px solid var(--palatinate-blue);
    }
  }
}
