.wrapper {
  padding-top: 73px;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    .header {
      display: inline;
      text-align: center;
      max-width: 85%;

      .unlocking {
        color: var(--dim-gray);
      }

      .last_mile {
        color: var(--polished-pine);
      }
    }

    .hero_text {
      max-width: 75%;
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 24px;
    }
  }

  .dashboard_div {
    margin-top: 62px;
    width: 100%;

    position: relative;
    .dashboard {
      max-width: 90%;
      height: 500px;
      width: 1200px;
      height: auto;
    }

    .image_black_background {
      height: 400px;
      background-color: var(--eerie-black);
      position: absolute;
      width: 100%;
      inset: 0;
      top: 40%;
      z-index: -1;
      color: transparent;
    }
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    .container {
      gap: 42px;
      .header {
        max-width: 100%;
      }

      .hero_text {
        max-width: 100%;
      }

      .buttons {
        flex-direction: column;
      }
    }
  }
}

@media screen and (min-width: 501px) {
  .wrapper {
    .container {
      gap: 42px;
      .header {
        max-width: 100%;
      }

      .hero_text {
        max-width: 100%;
      }

      .buttons {
        flex-direction: row;
      }
    }
  }
}
@media screen and (min-width: 801px) {
  .wrapper {
    .container {
      gap: 42px;
      .header {
        max-width: 85%;
      }

      .hero_text {
        max-width: 75%;
      }
    }
  }
}
