:root {
  --palatinate-blue: #302cb7;
  --polished-pine: #59b189;
  --pastel-red: #f16064;
  --very-pale-orange: #fbdebe;
  --eerie-black: #151628;
  --dim-gray: #6b6a6a;
  --lavender-blush: #fdeef2;
  --bright-gray: #e6f6f1;
  --bubbles: #e4f4f9;
  --silver-chalice: #a7a6a6;
  --pampas: #f7f5f2;
  --dove-gray: #6b6a6a;
  --mercury: #e3e2e2;
  --tundora: #404040;
  --gray: #7f7e7e;
}
