* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sw {
  max-width: 1244px;
  margin: auto;
  padding-inline: 20px;
  display: block;
}

body {
  font-size: 1rem;
  font-family: "RobotoRegular", sans-serif;
  color: var(--eerie-black);
  background-color: var(--pampas);
}
