.wrapper {
  .label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    position: relative;
    overflow: hidden;
    input {
      padding-right: 2px;
    }

    .eye_div {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      height: 32px;
      width: 40px;
      right: 2px;

      top: 20px;
      border-left: 1px solid #a7a6a6;
      cursor: pointer;
    }
  }
}
