.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  max-width: 80%;
  margin: auto;
  grid-gap: 27px;
  padding-top: 47px;
  padding-bottom: 203px;
  .locations {
    grid-column: span 5;
    width: 100%;
  }
  .getintouch {
    background-color: white;
    padding-inline: 44px;
    padding-top: 52px;
    padding-bottom: 52px;
    border-radius: 8px;
    grid-column: span 7;
    display: flex;
    flex-direction: column;
    gap: 38px;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      text-align: center;
      h6 {
        font-weight: 900;
      }
      p {
        color: var(--gray);
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 28px;
      width: 100%;

      .name_phone_number {
        display: flex;
        align-self: flex-end;
        justify-self: flex-end;
        align-items: center;
        gap: 21px;

        .name,
        .phone_number {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    max-width: 100%;
    padding-top: 80px;
    grid-gap: 30px;
    .locations {
      grid-column: span 12;
    }
    .getintouch {
      grid-column: span 12;

      form {
        .name_phone_number {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 601px) {
  .wrapper {
    max-width: 100%;
    padding-top: 80px;
    grid-gap: 20px;
    .locations {
      grid-column: span 12;
      max-width: 80%;
      margin: auto;
    }
    .getintouch {
      grid-column: span 12;
      padding-inline: 22px;
      max-width: 80%;
      margin: auto;

      form {
        .name_phone_number {
          display: flex;
          flex-direction: row;
          width: 100%;
        }
      }
    }
  }
}
@media screen and (min-width: 1001px) {
  .wrapper {
    max-width: 100%;
    padding-top: 80px;
    grid-gap: 0px;
    place-items: flex-start;
    place-content: flex-start;
    justify-content: start;
    justify-items: start;
    .locations {
      grid-column: span 5;
      max-width: 80%;
      margin: auto;
    }
    .getintouch {
      grid-column: span 7;
      padding-inline: 22px;
      max-width: 90%;
      margin: auto;

      form {
        .name_phone_number {
          display: flex;
          flex-direction: row;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 1201px) {
  .wrapper {
    max-width: 80%;
    padding-top: 80px;
    grid-gap: 30px;
    height: 100%;

    .locations {
      grid-column: span 5;
      max-width: 100%;
    }
    .getintouch {
      grid-column: span 7;
      padding-inline: 22px;
      max-width: 100%;
      margin: auto;

      form {
        .name_phone_number {
          display: flex;
          flex-direction: row;
          width: 100%;
        }
      }
    }
  }
}
