.wrapper {
  padding-left: 20px;
  padding-right: 20px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 42px;
    border-radius: 8px;
    border: 1px solid var(--gallery);
    background: var(--Primary-Color, #fff);
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.02);
    max-width: 400px;
    margin: auto;
    margin-top: 63px;
    margin-bottom: 267px;
    width: 100%;

    h5 {
      display: flex;
      align-self: center;
      text-align: center;
    }

    .inputs {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    div {
      color: var(--tundora);
      line-height: 1.5;

      span {
        text-decoration: underline;
        font-weight: 900;
        cursor: pointer;
      }
    }
  }
}
