.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-top: 32px;
  padding-bottom: 16px;

  .city {
    font-weight: 900;
  }

  .address {
    display: inline;
    align-items: flex-start;

    .heading {
      font-weight: 900;
    }
  }

  .line {
    width: 100%;
    background-color: var(--silver-chalice);
    height: 1px;
    margin-top: 16px;
  }
}
